*{
  font-family: 'Times New Roman', Times, serif;
}

body{
  padding: 60px;
}

input{
  width: 100%;
  font-size: 1.3rem;
  border-radius: 8px;
  color: grey;
}
.items{
  text-align: center;
  align-content: center;
  border: 0.5px solid gray;
  border-radius: 8px;
  overflow: hidden;
 margin: 10px;
}

.card-grid{
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
}


.items img{
  width: 100%;
  max-height: 20rem;
}


